@import '../../styles/variables.scss';

.exercises {
  background-color: $primary-dark;
	height: 100%;
	width: 25%;
	overflow: auto;
  padding: $spacing-med $spacing-base;
  position: fixed;
  top: 0;
  left: 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    color: $white;
    padding: $spacing-base 0;
  
    &--active {
      color: $secondary-dark;
      background-color: $primary-light;
    }
  }

  &__search {
    margin-bottom: $spacing-small;

    input {
      border-radius: 4px;
      padding: $spacing-small;
      width: 80%;
    }
  }
}
