@import '../../styles/variables.scss';

.exercise-detail {
	height: 100%;
  margin-left: 30%;
  padding: $spacing-base 0;

  &__empty {
    text-align: center;
  }

  &__video {
    height: 400px;
    width: 100%;

    &--flipped {
      transform: rotateY(180deg);
    }
  }

  &__description, &__difficulty {
    padding-left: $spacing-base;
  }

  &__difficulty {
    p, h4 {
      display: inline-block;
    }

    p {
      margin: 0 $spacing-small;
    }
  }
}
